:focus {
    outline : none;
}
.content {
    width : auto;
    background-color : #ffffff;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 10px;
    border-top : 1px solid #d7b0c6;
}
.container {
width : 100%;
    padding: 10px;
    background-color: #f6f3ee;
}
.logoarea {
    font-size : 12px;
    width : 100%;
    float : left;
}
.logo {
    float : right;
    margin : 0 0 0 0;
    background : #ffffff url(logo.png) no-repeat;
    width : 349px;
    height : 76px;
    padding : 0;
}
body,
form,
table,
tr,
td,
th,
p {
    font-family : "Verdana", "Arial", sans-serif;
    font-size : 12px;
    font-weight : normal;
    color : #333333;
}
h1 {
    font-size : 20px;
    font-weight : bold;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 10px;
    margin-bottom : 10px;
    color : #e16e22;
}
h2 {
    font-size : 18px;
    font-weight : bold;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 4px;
    margin-bottom : 8px;
    background-color : #ece9e4;
    color : #e16e22;
    width : auto;
}
h2.toggler {
    background-image: url(trClosed.gif);
    background-repeat: no-repeat;
   background-position: center left;
    padding-left : 20px;
    font-family : sans-serif;
}
h2.toggler:hover {
    cursor : pointer;
    /*        color : #e16e22;*/
}
h3 {
    font-size : 16px;
    font-weight : bold;
    background-color : #ece9e4;
    /*margin: 0.2em;*/
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 2px;
    margin-bottom : 4px;
    padding-top : 2px;
    padding-bottom : 2px;
    padding-left : 8px;
    color : #7a6e62;
    width : auto;
    /*    border-top : 1px solid #d7b0c6;*/
}
h4 {
    font-size : 14px;
    font-weight : bold;
    color : #e16e22;
    background-color : #ece9e4;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 2px;
    margin-bottom : 4px;
    padding-top : 1px;
    padding-bottom : 1px;
    padding-left : 4px;
    width : auto;
    /*    border-top : 1px solid #d7b0c6;*/
}
a:link {
    color:inherit;
}
a:visited {
    color:inherit;
}
a:hover {
    color : red;
}
a:active {
    color : #e16e22;
}
div {
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    margin-bottom : 4px;
    text-align : left;
    vertical-align : top;
}
.xforms-label { 
    display: -moz-inline-box; 
    display: inline-block; 
    width: 30%; 
    min-width: 16em;
}
.xforms-input input { 
    width: 16em; 
    margin-bottom: 2px; 
} 
.adaGroup {
    border: 1px solid; 
    margin:0.2em; 
    border-radius: 5px; 
    border-color: grey;
}
.adaRow {
    border: 1px dashed; 
    margin:0.2em; 
    padding:0.2em; 
    border-radius: 5px; 
    border-color: grey;
}
.adaSingle {
    padding:0.2em; 
    border-radius: 5px; 
    border-color: grey;
}
table {
    border: 1px solid; 
    border-collapse: collapse; 
    border-radius: 5px; 
    border-color: grey;
}
td {
    border: 1px solid; 
    border-color: grey; 
    border-radius: 5px;
}
button {
    border-radius: 5px;
    margin: 0.2em;
}
